@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

#login-background {
  background-image: url("login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#headerbar {
  background-image: url("logoB.svg");
  background-position: 125% 1%;
  background-size: 50% 350px;
  background-repeat: no-repeat;
}

#sidebar .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-primary) !important;
  background-color: transparent;
}

#sidebar {
  align-self: flex-start;
  position: sticky;
  top: 0px;
  width: 240px;
}

#canva-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 177.7778%;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

#canva-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}
