@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

#login-background {
  background-image: url("login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
